.btn{margin: 15px 10px 0 10px; padding: 10px; border-radius: 10px;}
.btn-blue{background-color: rgb(67, 122, 194);}
.btn-green{background-color: rgb(129, 212, 170);}
.container{
    display: flex;
    flex-direction:column;
    background-color: rgb(143, 143, 143);
    height: 260px;
    align-items: center;
    padding-top: 20px;
}
.input{
    width: 25%;
    margin: 10px 0 0 0;
    border-radius: 3px;
    
}